.mainbar {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  flex-wrap: wrap;
  max-width: 1340px;
  width: 1200px;
  gap: 18px;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0;
  margin: 0;
}
.banner {
  width: auto;
  margin: 15px;
  position: relative;
}
.bannerImg {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
}
.artist {
  display: flex;
  flex-direction: column;
  top: 50px;
  left: 50px;
  position: absolute;
  color: whitesmoke;
  gap: 10px;
}

.menulist ul {
  display: flex;
  gap: 15px;
}
.menulist ul li {
  list-style: none;
  margin: 0 20px;
  position: relative;
}
.mainbar .menulist ul li::before {
  content: none;
  bottom: -20px;
  left: 10px;
  background: #cc7070;
  width: 20px;
  height: 5px;
  position: absolute;
  border-radius: 5px;
}

.menulist ul li a {
  text-decoration: none;
  color: slategray;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.AudioList {
  padding: 10px 30px;
  height: 100%;
}

.AudioList .title {
  font-size: 18px;
  color: brown;
}

.AudioList .title span {
  color: chocolate;
  font-size: 12px;
}
.titleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px;
}

.titleBar p.title {
  margin: 50px;
}
.SongsContainer {
  height: 100vh;
  overflow : scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  gap: 18px;
  padding: 0 10px;
  padding-top: 45px;
}
.songs {
  min-width: 200px;
  width: 200px;
  min-height: 200px;
  height: 200px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
  background-color: aliceblue;
}
.player {
  display: flex;
  flex-direction: row;
  background-color: #222f66;
  justify-content: space-around;
  gap: 20px;
  height: 120px;
  border: 1px solid rgba(211, 211, 211, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.songImg {
  width: 100px;
  min-height: 80px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  overflow: hidden;
  margin-top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.songImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgBox img {
  width: 200px;
  height: 150px;
}
.section {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}
.song .section .hits .favourite i {
  color: deeppink;
  filter: drop-shadow(0px 0px 4px deeppink);
}

.songs:hover,
.songs.active {
  color: rgb(197, 53, 0);
  transition: 0.3s;
  border: #277fa8;
  box-shadow: -1px 2px 21px 2px rgba(115, 157, 185, 0.75);
}
.hits {
  margin-left: auto;
}
/* .songs{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #848484;
    width: 100%;
    margin: 15px 0;
    padding: 5px;
} */
/* .songsCount{
    margin-right: 10px;
} */

/* .song{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
} */
/* .song .imgBox{
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 0.5em;
    background: darkgreen;
    margin-right: 10px;
    overflow: hidden;
}
.song .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song .section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.song .section .songName{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.song .section .hits{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.song .section .hits .hit{
    margin-right: 130px;
    margin-left: 30px;
}
.song .section .hits .hit i{
    font-size: 12px;
    margin-right: 5px;
}
.song .section .hits .duration{
    color: rgb(148, 140, 20);
    margin-right: 10px;
}
.song .section .hits .favourite i{
    color: deeppink;
    filter: drop-shadow(0px 0px 4px deeppink);
}

.sno{
    left:2px;
} */

@media (max-width: 900px) {
  .song .section .hits .hit {
    margin-right: 10px;
  }
  .SongsContainer {
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    gap: 18px;
    padding: 0 10px;
    padding-top: 45px;
    justify-content: center;
}
}
